#table_head{
	background-color:blue;
	color:white;
	font-weight:bold;
    padding:5px;
}

.rows_cpt{
	background-color:white;
	color:black;
	font-weight:bold;
	padding:5px;
}

table{
	margin-top:-5%;
	border-color:black;
	border-width:2px;
	border-style:solid;
	border-radius:15px;
	padding:5%;
}
tbody{
	padding:3% !important;
	
}

.table-cpt{
	border-radius:15px;
}


table > tbody > tr:nth-child(n+6) {
    display:none;
}

